<?xml version="1.0" encoding="UTF-8"?>
<!-- url 에는 태그의 정의가 들어있기 때문에 url이 없을 경우 태그를 인식하지 못함 -->
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="co.kr.gudi.bbs.dao.BoardDAO">

	<select id="list" resultType="board">
		select idx,subject,user_name,bHit from bbs order by idx desc
	</select>
	
	<update id="upHit">
		update bbs set bHit=bHit+1 where idx=#{param1}
	</update>
	
	<select id="detail" resultType="board">
		select * from  bbs where idx=#{param1}
	</select>
	
	<delete id="del">
		delete from bbs where idx = #{param1}
	</delete>
	
	
	<insert id="write" parameterType="board" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx" >
		insert into bbs(subject,user_name,content) values(#{subject},#{user_name},#{content})
	</insert>
	
	<update id="update" parameterType="board">
		update bbs set  user_name=#{user_name},subject=#{subject},content=#{content} where idx=#{idx}
	</update>
</mapper>
